{
    "presets": ["next/babel"],
    "plugins": [
        [
            "inline-react-svg",
            {
                "svgo": {
                    "plugins": [
                        {
                            "name": "cleanupIDs",
                            "active": false
                        }
                    ]
                }
            }
        ],
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@/icons": "./src/icons"
                }
            }
        ],

        ["babel-plugin-styled-components", { "ssr": true, "displayName": true, "preprocess": false }]
    ]
}
